default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: storage/development.sqlite3

test:
  adapter: postgresql
  encoding: unicode
  database: app_test
  username: postgres
  password:
  host: localhost

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
