<%= form_for @checklist do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="actions">
    <%= f.submit "Criar checklist" %>
  </div>
<% end %>