<h1> <%= @checklist.title %> </h1>
<div>
<% @checklist.checklist_items&.each do |i| %>
  <div class="d-flex flex-row align-items-center">
    <% if i.id.present? %>
      <%= render "checklists/items/edit", checklist: @checklist, item: i %>
    <% end %>
  </div>
<% end %>
<%= render "checklists/items/new", checklist: @checklist, item: @item %>
</div>