<footer class="bg-dark py-3 mt-auto mobile-footer">
  <div class="container text-center">
    <p class="mb-0 text-white">&copy; <%= Date.current.year %> Reisen - Planejador de Viagens Colaborativo</p>
  </div>
</footer>